html{
    background-color: rgba(20, 20, 34);
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
body{
    color: rgb(200, 200,200,.9);
    width: 100%;
}
#navegador ul{
    list-style-type: none;
    text-align: right;
    margin-right: 2%;
}
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 2px 10px;
    color: rgba(252, 249, 249, 0.9);
    text-decoration: none;
}
#navegador li a:hover{
    color: rgb(216, 193,58,.9);

}

.container{
    width: 100%;
    height: 100%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -2%;
}
#BienvenidaSpan{
    margin-top: 2%;
    color: #D0D0D2;
    font-family: 'Bree Serif', serif;
    font-size: 4.5rem;
}
#LogoBienvenida{
    width: 6rem;
    height: 6rem;
    margin-top: 5%;
}
h1{
    font-size: 1.5rem;
}
.contenidoInicio{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -1%;
}
#imagenBienvenida{
    width: 498px;
    height: 305px;
    position: relative;
}

.circuloAm {
    position: absolute;
    width: 60%;
    height: 85%;
    border: none;
    margin-top: 7%;
    filter: blur(14px);
}
.btn_curriculum{
    background-color: rgb(216, 193,58);
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    width: 232px;
    height: 44.94px;
    border-radius: 5px;
    margin-right: 1rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 4%;
}

/*    border-radius: 50%;
    filter: blur(20px);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    background: linear-gradient(to bottom right, rgb(140, 153, 83),rgb(110, 83, 153));