html{
    background-color: rgba(20, 20, 34);
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}
body{
    color: rgb(200, 200,200,.9);
}
#navegador ul{
    list-style-type: none;
    text-align: right;
}
#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
}
#navegador li a {
    padding: 2px 7px 2px 10px;
    color: rgba(252, 249, 249, 0.9);
    text-decoration: none;
}
#navegador li a:hover{
    color: rgb(216, 193,58,.9);

}
.btn_curriculum{
    background-color: rgb(216, 193,58);
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    width: 17%;
    height: 2.3rem;
    border-radius: 5px;
    margin-right: 1rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    cursor: pointer;
}
.container{
    width: 100vw;
    height: 100vh;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#BienvenidaSpan{
    margin-top: 1%;
    color: #20968b;
    font-family: 'Inter', sans-serif;
    font-size: 4.1rem;
}